[Unit]
Description=enshrouded

[Service]
User=root
WorkingDirectory=/home/d3f1l3/enshrouded-container-server/enshrouded
ExecStart=enshrouded.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target